
html {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
.about-img {
    width: 120px;
    height: 155px;
  }
body {
  background-color: blue;

}

#containerbg {
  background-color: #eee;
}

.about-me {
  margin-top: 20px;
}
h6 {
  text-align: center;
}
h4 {
  text-align: center;
  text-decoration: dotted;
}
footer {
  padding: 20px;
  background-color: darkgrey;
  position: absolute;
   width: 100%;
  text-align: center;
}
#nav-background {
  
  font-size: xx-large;
  font-family: fantasy;
  margin-left: initial;
  
  }

.portfolio-card {
  width: 200px;
  margin: left;
}

.portfolio-card-title {
  position: relative;
  text-align: center;
  padding: 10px;
  bottom: 10px;
  font-size: small;
}
.footer-portfolio {
  bottom:0;
}
@media print {
  .container {
    width: auto;
      }
}
.portfolio-card-img {
  width: 400px;
  height: 300px;
}